* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
}
nav {
  padding: 15px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 7vh;
  background-color: #51d0de;
}
.logo {
  color: #bf4aa8;
  text-transform: uppercase;
  font-size: 42px;
  letter-spacing: 6px;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 45%;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  padding-bottom: 4px;
  color: #fff;
  text-decoration: none;
  font-size: 23px;
  font-weight: 700;
  transition: linear 0.3s;
}
.nav-links a:hover {
  border-bottom: 2px solid #bf4aa8;
}
.burger {
  display: none;
  cursor: pointer;
}
.line {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: #fff;
  transition: all 4s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 65%;
  }
}
@media screen and (max-width: 768px) {
  .burger {
    display: block;
  }
  .nav-links {
    position: absolute;
    right: 0;
    height: 93vh;
    top: 7vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: #51d0de;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-active {
    transform: translateX(0%);
  }
  @keyframes navLinksFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
